#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content_body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  background: var(--maroon-pink);
  background: linear-gradient(129deg, rgba(164,119,139,0.5) 16%, rgba(135,164,232,0.5) 77%);
}
